<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="/static/css/queens.css" rel="stylesheet">
		<title>N Queens Puzzle</title>
	</head>
	<body>
		<div class="container">
		  <div class="row align-items-center justify-content-center">
			<div id="statusBar" class="alert visually-hidden" role="alert">Mensaje</div>
			<div class="col-8 text-center">
			  <h1>N Queens Puzzle</h1>
			  <p>Use this form to calculate the solutions for N Queens Puzzle</p>
			  <form id="nqueenform" action="#" method="POST">
				<div class="input-group mb-3">
					<input id="queensNumber" type="text" class="form-control" placeholder="Number of" aria-label="Number of" aria-describedby="queensInput">
					<span class="input-group-text">Queens</span>
				</div>
				<div class="row">
					<div class="col">
						<input type="submit" class="btn btn-primary" value="Calculate" id="calculate">
					</div>
					<div class="col">
						<input type="submit" class="btn btn-primary" value="Iterate" id="iterate">
					</div>
				</div>
			  </form>
			</div>
		  </div>
		  <div class="solutions-container"></div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
</html>